[Unit]
Description=Kakebo tg bot
After=network.target

[Service]
Restart=always
RestartSec=5
User=tim
Group=tim
SyslogIdentifier=kakebo-tg-bot
WorkingDirectory=/home/tim/kakebo
ExecStart=/home/tim/kakebo/venv/bin/python tg_stuff.py

[Install]
WantedBy=multi-user.target